<div class="jumbotron text-center">
  <div class="container animated fadeInUp">
        <img src="/images/microscope.png" style="height:100px;"/>
        <p class="lead">BackboneJS project template for microscopejs rest API</p>
        <p>
            <a href="https://github.com/bhtz/microscopejs" class="btn btn-danger btn-lg">
				Show Github
            </a>
        </p>
  </div>
</div>